---
layout: single
classes: wide
permalink: "/vol1-1/highlights/"
title: "Phys. in Prog. | Highlights"
tagline: "Highlighting excellence in technical writing at the undergraduate level."
EC: TRUE
issue: "vol1-1"
header:
  title: "Editor's Suggestions from the latest issue"
  overlay_filter: rgba(122,35,47,.8)
  overlay_image: "/assets/images/banner.svg"
sidebar:
  - title: "Physics in Progress"
    image: "/assets/images/RubensFeature.jpeg"
    image_alt: "image"
    text: "**Volume 1**<br>Issue 1<br>January 2024."
    nav: "issuecol"
---

<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
{% assign groups = site[page.issue] | where: "EC",page.EC |group_by: "section" | sort: "name" %}

{% for f in site.data.sections[page.issue] %}
	{% assign sec = groups | where: "name",f.label %}
	{% unless sec == empty %}
		{% assign cat = sec | first %}
		
		{% capture colorstring %}{% cycle "one","two"%}{% endcapture %}

		<div class="section_{{colorstring | strip}}_tone">
		<h1 id="{{f.label | slugify}}"> {{f.label}} </h1>
		<p> {{f.excerpt}} </p>
			{% for page in cat.items %}
				{% assign post = page %}
				
				
				{% include article_feature.html  color=colorstring %}
			{% endfor %}
		</div>
	
	{% endunless%}
	
{% endfor %}
