---
layout: single
title: "Most recent issue"
header:
  overlay_filter: rgba(122,35,47,.8)
  overlay_image: "/assets/images/banner.svg"
tagline: "<i>Physics in Progress</i> Volume 1, Issue 1"
permalink: /vol1-1/index/
author_profile: false
toc: true
toc_sticky: true
sidebar:
  - title: "Physics in Progress"
    image: "/assets/images/RubensFeature.jpeg"
    image_alt: "image"
    text: "**Volume 1**<br>Issue 1<br>January 2024."
    nav: "issuecol"
---

{% assign groups = site.vol1_1 | group_by: "section" | sort: "name"%}
{% for cat in groups %}{% unless cat.name == ""%}
{% assign f = site.data.sections[cat.name] %}
{% capture colstring%}{% cycle "one","two"%}{% endcapture %}

<div class="section_{{colstring | strip}}_tone">
<h1 id="{{f.label | slugify}}"> {{f.label}} </h1>
{% include feature_single.html type="left"%}	
	{% for page in cat.items %}
		{% assign post = page %}
		
		
		{% include article_archive.html color=colstring%}
	{% endfor %}
</div>
{% endunless %}{% endfor %}
