---
layout: single
title: "**Volume 1** Issue 1"
header:
  overlay_filter: rgba(122,35,47,.8)
  overlay_image: "/assets/images/banner.svg"
tagline: "<i>Physics in Progress</i> Volume 1, Issue 1"
permalink: /vol1-1/index/
author_profile: false
toc: true
issue: vol1-1
toc_sticky: true
sidebar:
  - title: "Physics in Progress"
    image: "/assets/images/rubensFeature.jpeg"
    image_alt: "image"
    text: "**Volume 1**<br>Issue 1<br>January 2024."
    nav: "issuecol"
---

{% assign groups = site[page.issue] | group_by: "section" | sort: "name"%}

{% for f in site.data.sections[page.issue] %}
	{% assign sec = groups | where: "name",f.label %}
	{% unless sec == empty %}
		{% assign cat = sec | first %}
		
		{% capture colorstring %}{% cycle "one","two"%}{% endcapture %}

		<div class="section_{{colorstring | strip}}_tone">
		<h1 id="{{f.label | slugify}}"> {{f.label}} </h1>
		{% include feature_single.html type="left" class="teaser-shrink"%}	
			{% for page in cat.items %}
				{% assign post = page %}
				
				
				{% include article_archive.html color=colorstring%}
			{% endfor %}
		</div>

	
	{% endunless%}
	
{% endfor %}