---
layout: single
header: 
  overlay_color: "#333"
author_profile: false
toc: true
toc_sticky: true
sidebar:
  - title: "Physics in Progress"
    image: "/assets/images/RubensFeature.jpeg"
    image_alt: "image"
    text: "**Volume 1**<br>Issue 1<br>January 2024."
    nav: "issuecol"
---

{% assign groups = site.vol1_1 | group_by: "section" | sort: "name"%}
{% for cat in groups %}{% unless cat.name == "1"%}
{% assign f = site.data.sections[cat.name] %}

<h1 id="{{f.label | slugify}}"> {{f.label}} </h1>
{% include feature_single.html type="left"%}

	{% for page in cat.items %}
		{% assign post = page %}
		{% include article_archive.html%}
	{% endfor %}
{% endunless %}{% endfor %}
